
.bevel-grey {
    -fx-background-color: linear-gradient(#202020, #202020), linear-gradient(#131313 0%, #d9d9d9 20%, #202020 100%), linear-gradient(#dddddd 0%, #202020 50%);
    -fx-background-radius: 8, 7, 6;
    -fx-background-insets:0, 1, 2;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.bevel-grey:hover {
    -fx-background-color: linear-gradient(#d0d0d0, #ffffff), linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%), linear-gradient(#dddddd 0%, #202020 50%);
}

.bevel-grey:pressed {
    -fx-background-color: #798880;
}