
.bevel-grey {
    -fx-background-color:transparent;
    -fx-background-radius: 8, 7, 6;
    -fx-background-insets:0, 1, 2;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);

}

.bevel-grey:hover {
    -fx-background-color: #494D4B;
}

.bevel-grey:pressed {
    -fx-background-color: #798880;
}
.backsecond{
    -fx-background-image: url('FirstImage.png');
    -fx-background-size:cover;
}