.list-cell {
    -fx-padding: 10 10 10 10;
    -fx-background-color: TRANSPARENT;
    -fx-cell-size: 50;
}
.list-cell:selected {
    -fx-background-color:  TRANSPARENT;

}

.list-cell {
    -fx-text-fill: white;
    -fx-font-size: 20;
}